<div class="row row-sm mg-t-20"  ng-controller="ShowController">
    <div class="col-xl-6">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-4">

            <center><h1 class="card-body-title">CATEGORY DETAILS</h1></center><hr>

            <div class="row">
                <label class="col-sm-4 form-control-label">Category Name:</label>
                <div class="col-sm-8 mg-t-10 mg-sm-t-0 tx-inverse" ng-bind="categoryDetails.name"></div>
            </div>

            <div class="row mg-t-20" ng-hide ng-if="categoryDetails.description!=null">
                <label class="col-sm-4 form-control-label">Description: </label>
                <div class="col-sm-8 mg-t-10 mg-sm-t-0 tx-inverse" ng-bind="categoryDetails.description"></div>
            </div>
        </div>
    </div>
</div>
